<h1> Whats good </h1>
<p> hlelo </p>
<%= stylesheet_link_tag "tyra", "data-turbo-track": "reload" %>

<div class="jumbotron jumbotron—home">
<div class="container">
<h1>asdasdasd</h1>
<p>This is a templaasdsadhing more</p>
<%= link_to "Learn more", "#", class: "btn btn-primary btn-lg" %>
</div>
</div>