// Sass (SCSS) sass-lang.com for more!

.jumbotron-home {
    background-color:rgb(149, 217, 82) !important; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: cover;
}

.h1 {
    color: rgb(85, 0, 255);
}